@using System.ComponentModel.DataAnnotations
@inject NavigationManager Navigation
@inject ILinkService LinkService
@inject SessionStorage SessionStorageService
<div class="">
    <EditForm Model="_model" OnValidSubmit="ShortenUrlAsync" FormName="ShortUrlForm">
        <DataAnnotationsValidator />
        <h2>Short a long URL</h2>
        <p>Enter/Paste a long URL</p>
        <div class="mb-3">
            <InputText @bind-Value="_model.LongUrl" class="form-control" placeholder="@("https://github.com/LanHoangPh")" />
            <ValidationMessage For="() => _model.LongUrl" class="text-danger" />
        </div>
        <div class="mb-3"></div>
        <button type="submit" class="btn btn-main" disabled="@_isProcessing">
            @(_isProcessing ? "Shortening url..." : "Shorten URL")
        </button>
    </EditForm>
</div>
@if (_isProcessing)
{
    <Loader />
}
@if (!string.IsNullOrWhiteSpace(_shortUrl))
{
    <GeneratedLinkModal ShortUrl="@_shortUrl" OnClose="() => _shortUrl = null" />
}
@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthStateTask { get; set; }

    private ShortUrlGeneratorModel _model = new();
    private string? _shortUrl;
    private bool _isProcessing;



    private async Task ShortenUrlAsync()
    {
        _isProcessing = true;
        var authState = await AuthStateTask;
        if (authState.User.Identity is null || authState.User.Identity?.IsAuthenticated != true)
        {
            // luu long url vao session
            await SessionStorageService.SaveAsync(SessionStorage.LongUrlKey, _model.LongUrl);
            Navigation.NavigateTo($"/Account/Login");
            return;
        }

        var userId = authState.User.GetUserId(); 
        var dto = new LinkCreateDto(_model.LongUrl, userId);
        var link = await LinkService.GenerateLinkAsync(dto);
        _isProcessing = false;
        _shortUrl = link.ShortUrl;
    }
    class ShortUrlGeneratorModel
    {
        [Required, Length(10, 250)]
        public string? LongUrl { get; set; }
    }
}