@page "/"

<PageTitle>BalorUrls</PageTitle>
<SectionContent SectionName="heading">
    <h1 class="text-main fw-bold text-center"> URL Shortner - <samll> Shorten any long Link/URL</samll></h1>
</SectionContent>

@* Short URL Generator From *@

@* Features Sattics sections *@
<h1>
    <i class="bx bx-link"></i>
</h1>
<button type="button" class="btn btn-main">Buton</button>
